body {
    margin: 0px;
    padding: 0px;
    background-color:white;
}

#back {
    background-image: url("back1.jpg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    position: fixed;
    z-index: 0;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #dddddd;
    position: fixed;
    width: 100%;
    z-index: 99;
}

li {
    display: inline;
    text-align: center;
    margin: 2px;
    font-size: larger;
}

a {
    display: block;
    float: left;
    padding: 8px;
    background-color: lightgray;  
}

#main {
    position: absolute;
    margin-top: 50px;
    margin-bottom: 25px;
    left: 5%;
    display: block;
    width: 90%;
    height: 900px;
    background-color: lightcyan;
    border-radius: 5px;
    z-index: 1;
    border: 10px solid aquamarine;
    border
}